<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= countryItem.name %></h1>
        <p><strong>ID: </strong><%= countryItem.id %></p>
        <p><strong>CCA3 Code: </strong><%= countryItem.cca3_code %></p>
    </body>
</html>